---
interface Props {
  title: string;
  to: string;
}

const { title, to } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex" />
    <meta http-equiv="refresh" content={`0; url=${to}`} />
    <link rel="canonical" href={to} />
    <title>{title}</title>
  </head>
  <body>
    <p><a href={to}>Continue to {to}</a></p>
  </body>
</html>
